* {
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}
a {
    text-decoration: none;
}
.nav {
    width: 100%;
    margin: 0 auto;
    /* margin-top: 10px; */
    /* background-color: rgb(43, 43, 43); */
    padding: 30px;
    /* border-radius: 20px; */
}
.nav-list {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}

.juego {
    background-color: yellow;
    padding: 10px;
    border-radius: 5px;
    color: black;
}
.nav_item a:hover {
    border-bottom: 2px solid rgb(0, 0, 0);
}
.juego:hover {
    background-color: rgb(240, 240, 0);
    cursor: pointer;
    color: black !important;
}
.active {
    border-bottom: 2px solid rgb(240, 240, 0);
}
.container {
    display: flex;
    /* margin: 20px; */
}

.sidebar {
    width: 250px;
    height: 72vh;
    background-color: rgb(130, 130, 130);
    color: white;
    padding: 20px;
    /* border-radius: 10px; */
    margin-right: 20px;
}

.sidebar h2 {
    margin-bottom: 15px;
}
.sidebar a {
    color: white;
    text-decoration: none;
}

.sidebar ol {
    list-style-position: inside;
}
.sidebar ol li {
    margin-top: 10px;
}

.main-content {
    text-align: center;
    flex-grow: 1;
    background-color: rgba(255, 255, 255, 0.85);
    padding: 20px;
    border-radius: 10px;
}
.main-content h2 {
    margin-bottom: 30px;
}
